html,
body {
    height: 100%;
}

body {
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 40px;
    background-color: #ffffff;
    /*color: #ffffff;*/
}
.form-index {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    margin: auto;
    /*background: rgba(96, 96, 96, 0.9);*/
    /*opacity:0.8;*/
}
